/* ---------------info part---------------------------- */

.info{
    padding: 2rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
}
#note{
    color: #009DFF;
    font-weight: bold;
}
.info p{
    font-size: 2rem;
}
.info h1{
    font-size: 4rem;
    color: #009DFF;
}
#staytune{
    color: #009DFF;
    font-size: 3rem;
    margin: 0.5rem 0;
}

/* -------------------------------------------------------------map part----------------------------------- */

#map iframe{
    width: 100%;

}